[2017-06-04 18:38] leesharma opened #37 "Move tasks from Trello board to GitHub Issues"
**Trello Board:** https://trello.com/b/xpw13CUv/ruby-for-good%3A-playtime-project

**Justification:** For the new contributor, having all the information (codebase, documentation, and issues) in one familiar place makes it easier to get up and running. Easier start up = more contributors! Plus, by keeping issues here, it's easier to link them with PRs, related issues, and previous discussions.

[2017-06-04 18:48] leesharma opened #38 "Flesh out development tasks"
The goal of this task is to make each issue self-contained: they should contain enough direction and context that someone totally new to this project could pick them up and start working (as much as possible).

Along with #37, this task is designed to help transition from an on-site team workflow to a more distributed, open contribution workflow.

[2017-06-04 19:56] kalimar commented on #38
Awesome!

On Sun, Jun 4, 2017, 14:48 Lee Sharma <notifications@github.com> wrote:

[2017-06-06 20:47] micahbales opened #39 "Configure deployment to Heroku"
Master should be continuously deployed to Heroku.

[2017-06-06 20:51] micahbales opened #40 "Allow Item Purchases"
Allow all users (including anonymous) to purchase items

[2017-06-06 20:52] micahbales opened #41 "Purchase Confirmation"
When a user (or anonymous guest) purchases an item, prompt them to confirm that the item was purchased.

[2017-06-06 20:53] micahbales opened #42 "Admins Assign User to Wishlist"
As an Admin
I want to assign site managers to a wishlist
So that they can add and delete items

[2017-06-06 20:54] micahbales opened #43 "Social Sharing of Wish Lists"
Add social media sharing of wish lists directly from the wish list page

[2017-06-06 20:56] micahbales opened #44 "Create Wishlist_Items"
Allow Admins and Site Managers to create new wishlist_items.

[2017-06-06 20:56] micahbales opened #45 "Delete Wishlist_Items"
Allow Admins and Site Managers to delete wishlist_items.

[2017-06-06 20:57] micahbales opened #46 "Infinite Scrolling for Results"
Incorporate infinite scrolling for results page

[2017-06-06 21:02] micahbales commented on #37
I've moved items from the Trello board and assigned devs to the tasks according to what was listed in Trello. I've also labeled all of the tasks as "help wanted." Feel free to remove this label from any task that is under control and doesn't need more help.

[2017-06-06 21:02] #37 closed

[2017-06-06 21:03] micahbales commented on #38
When I moved the development tasks over from Trello, I broke a couple of them up slightly, but this could probably use more attention.

[2017-06-06 21:58] leesharma commented on #37
Yay!

Question: It looks like you didn't move over some of the tasks (in Stretch/ Icebox). Do you not want those moved over, or was this just a first step to get things going?

[2017-06-06 22:00] leesharma commented on #39
It looks like #24 addresses this issue. Is there anything outside of that PR that needs to be done?

@jwieringa, are you still working on this? If so, do you need help with anything, or do you have it covered?

[2017-06-06 22:11] micahbales commented on #37
Good question.

I didn't move over the icebox and stretch goals both because this was just a first step, and also because it seemed to make sense to focus on our MVP priorities first. Do you notice other items that seem important for immediate development?

[2017-06-06 22:51] leesharma opened #47 "Fix logged-in, non-admin site rendering (TypeError)"
When I (a non-admin user) tried to log in, I got the following error when it tried to render the homepage:

![browser error screenshot](https://user-images.githubusercontent.com/814638/26855164-7952265c-4ae7-11e7-8323-addd7f268cea.png)

Like the error states, the app's getting a `nil` when it expects a symbol or a string. It looks like the issue's in `ApplicationController#site_manager?`:

[code]

[2017-06-06 22:53] leesharma commented on #46
@micahbales What do you mean by the results page?

[2017-06-07 02:27] leesharma commented on #40
What do you mean by purchase items? It looks like the Purchase button brings you to Amazon right now–what behavior are you looking for?

(Alternatively, if @Brennaleker knows what's going on here/in #41 and has it handled, great! 😄)

[2017-06-07 02:30] leesharma commented on #41
I have the same question here as #40. What does the user flow here look like?

[2017-06-08 13:38] micahbales commented on #40
Presumably this is a reference to allowing users to click through to items on Amazon, but I'll defer to @Brennaleker on this.

[2017-06-08 13:40] micahbales commented on #46
No, I believe this view is only to appear after someone runs a search.

[2017-06-10 22:03] Brennaleker commented on #40
putting a pr out for this right now, I misunderstood the original requirement and had logic to only display the checkout button for users who were not admins or site managers

[2017-06-14 00:36] #47 closed

[2017-06-16 13:21] #40 closed

[2017-06-29 19:52] leesharma opened #53 "Style notices and alerts"
Right now, the notices and alerts on the site are not styled:

![unstyled notice](https://user-images.githubusercontent.com/814638/27707179-5f6d165e-5ce2-11e7-934d-0215dc377f0f.png)

To make the site look more polished, we should style them (maybe with [bootstrap alerts](http://getbootstrap.com/components/#alerts)?)

[2017-06-29 19:53] leesharma commented on #53
It looks like most of the views have the notice code at the top. Pulling that out into the layout would probably make this easier to implement/maintain.

[2017-06-29 19:54] micahbales commented on #53
Thanks, Lee! Let me take a look at that.

[2017-06-29 21:04] leesharma commented on #53
No worries; it's not urgent! I've collected some issues/bugs/unresolved items, and they'll be trickling in as issues this evening.

[2017-06-30 03:12] leesharma opened #55 "Verify that there is always at least one admin"
The app should always have at least one admin user–otherwise, we're going to have to add new ones via the console. Not ideal!

There are a few ways to handle this, but here are my thoughts:

1. When an admin tries to update their attributes, we verify that there will be at least one admin user.
2. If an admin tries to delete their account (if this becomes an option), again we should verify that th

[2017-06-30 03:21] leesharma opened #56 "Handle known bad Amazon queries"
There are some queries we *know* won't be accepted by Amazon (for example, queries can't be blank–it results in a blank result.)

We should validate the search for those very basic checks and supply an error message if a user tries to submit an invalid query.

[2017-06-30 03:26] leesharma opened #57 "Remove or implement json API"
Our controllers have a lot of generated json API code, but it's not consistent across the app (or even necessarily the current system).

I think we should either remove this scaffolded code, making the controllers easier to read/maintain, or design/implement the API (or at least declare our intentions).

[2017-06-30 03:38] leesharma opened #58 "Add reasonable validations to new wishlist items"
I'm not sure what validations we want, but there are a few unanswered questions here:

- Can the requested quantity of wishlist_items ever be 0, or should they just be removed at that point? Can they be created with 0 requested items? Certainly negative items should be disallowed. *(Related: If 0-quantity wishlist items are allowed somewhere, should they be hidden from certain views?)*

- Are staf

[2017-06-30 03:41] leesharma opened #59 "Allow users to manage their own page"
This isn't part of the main app mission, but I think it's important that users can update/delete their own accounts.

[2017-06-30 03:47] leesharma opened #60 "Handle situtations where Amazon service cannot be reached"
Sometimes the network acts strangely, and right now, any issues reaching the Amazon API result in a server error and 500 page without explanation. How do we want to handle this situation?

[2017-07-01 03:08] leesharma opened #61 "Should pledges belong to items?"
Right now, pledges belong to an `Item`. Wouldn't it make more sense for them to belong to a `WishlistItem`? That way, we can track the item's intended destination (and maybe manage quantities based on pledges) too.

[2017-07-01 03:12] leesharma opened #62 "Keep Items in sync with their Amazon listing"
Item prices change frequently on Amazon, so fetching the price once and relying on that data forevermore is a risky strategy; there's a good chance it will get out of date pretty quickly. Same thing for removed/out of stock items.

I'd suggest adding a recurring background task to ping Amazon for changes and some sort of warning that we might be a little out of date on the app.

Any other ideas?

[2017-07-11 00:26] #39 closed

[2017-07-11 00:33] #57 closed

[2017-07-11 01:08] #38 closed

[2017-07-23 22:25] vatrudell commented on #45
Hello there, it's my first time contributing to an open source project, and I thought I could take on this feature. I've read your CONTRIBUTING.md doc and I'm familiar with your PR practices. Is there anything else I should know? Thanks!

[2017-07-23 23:48] micahbales commented on #45
Hi, Valerie! We're glad you're here.

I think if you've read through our documentation, you know enough to get started. Do you feel like you have a good sense of what our end-goal is? Feel free to reach out if you have any specific questions about the codebase or objectives.

Welcome aboard!

[2017-07-24 15:20] leesharma opened #66 "Add descriptive issue tags"
As we discussed on July 10th, more descriptive issue tags might help to make the project look more inviting.

Steps:

- [x]  Decide on a tagging system
- [x] Add tags to existing issues

Some options:

- [How they do it at Robin](https://robinpowered.com/blog/best-practice-system-for-organizing-and-tagging-github-issues/)
- [How this random guy with a blog does it](http://www.ianbicking.org/blog/2

[2017-07-24 15:23] leesharma opened #67 "Users should have a user page"
Again, based on the June 10th meeting:

Users should have a user page that shows information about their interactions with the app. Specifically, it should show:

- their account information
- their pledging history
- links to modify either of the above

And users should be able to view their own user page.

### Questions

- Do we want this only viewable by admins/the user in question, or is this

[2017-07-24 15:44] leesharma commented on #45
@vatrudell Yay, it’s exciting to get new contributors!! :tada: Welcome!

I actually implemented this issue over the weekend–I was waiting on #64 before submitting. You’ve given me a kick in the butt to make what I’m working on more explicit here, so thank you for that! 😄

There are a bunch of issues that we need help on though! Here are a few suggestions for ready, stand-alone issues:

- #55 - Adm

[2017-07-24 19:21] #61 closed

[2017-07-24 19:21] #58 closed

[2017-07-24 21:51] #42 closed

[2017-07-27 19:43] #44 closed

[2017-07-27 19:44] #45 closed

[2017-07-27 20:36] leesharma opened #71 "Users should only see active wishlist items"
In the codebase, there were some hints of "active" and "inactive" items, but they're not attached to the UI. Right now, everyone can see all wishlist items.

We should do one of two things:

1. Only show users (anyone except admins and managers of the current wishlist) the active wishlist items. Admins and site managers should see their relevant inactive items too, but we might want to style them

[2017-07-27 20:48] leesharma opened #73 "Add an easier login method for development"
Logging in with Amazon can be a pain in development (esp. if we want to click around as different users). Adding a simple auth system for development-only would make working on the project much more pleasant.

The `developer` strategy might be a good place to start: http://www.rubydoc.info/github/intridea/omniauth/OmniAuth/Strategies/Developer

This is probably not an MVP feature.

[2017-07-27 22:39] leesharma opened #74 "Standardize Form Styles"
We're using different conventions across our forms; we should standardize the form vocabulary and layout so that users know what to expect. I like [`simple_form`](https://github.com/plataformatec/simple_form) for standardizing form styles across a project, but we could also maintain it manually.

Some areas that vary include: headings ("Wishlist" vs. "Wish List"), button size/style, input style/po

[2017-07-28 02:13] leesharma commented on #71
Since we're using pundit, this might be helpful: https://github.com/elabs/pundit#scopes

[2017-07-28 15:35] leesharma commented on #66
I was looking at Robin's system, and I like how they organize things by color:

![Robin's issue tagging system](https://static.robinpowered.com/blog/images/github-tagging-style/robin-github-issue-tag-system.png)

I'm not sure if their actual breakdown makes sense for us though–we're unlikely to do anything legal, we only use the one platform, they have no community-oriented labels (ex. "help wante

[2017-07-28 16:56] micahbales commented on #66
This looks good to me, @leesharma! Let me roll through our existing issues and see which of these might apply.

[2017-07-28 17:35] micahbales commented on #43
This task is pretty wide-open in terms of how we go about it. Any ideas for what this should actually look like? Simple buttons on the wishlist page? Something else?

[2017-07-28 17:38] micahbales commented on #41
We had some discussion about this back in June, but now we should probably decide exactly how we want this feature to happen.

Given that we can't track what the user is doing when they're on the Amazon website, does it make sense to:

1. Have the Amazon link open in a new tab
2. When the user returns to the wishlist page, have some sort of modal/prompt asking whether they purchased the item?
3. L

[2017-07-31 20:25] micahbales commented on #53
Just submitted [this pull request](https://github.com/rubyforgood/playtime/pull/75) to address this ticket.

[2017-08-01 14:50] leesharma commented on #53
@micahbales Quick tip: GitHub provides keywords (ex `resolves`, `closes`, `fixes`) that, when you put it in the title or first line of the description of a PR or commit message, will automatically link/close the issues. It's a bit easier than manually commenting!

Reference: https://help.github.com/articles/closing-issues-using-keywords/

[2017-08-01 18:01] micahbales commented on #53
Thanks, Lee. I didn't know about that feature. I've updated the name of the PR accordingly!

[2017-08-01 19:40] micahbales commented on #67
@vatrudell is working on this ticket

[2017-08-01 20:41] leesharma commented on #66
I think this is complete!

[2017-08-01 20:41] #66 closed

[2017-08-01 20:48] leesharma opened #77 "Users should be able to pledge items"
This is the whole point of the app, so we should probably add this functionality.

As a user (either guest or logged-in), I want to be able to pledge an item for donation in order to let the site know that it's on its way.

In previous conversations, the client emphasized that items being sent was far more important than tracking them, so whatever we do here, we need to make sure that we don't los

[2017-08-01 20:49] leesharma commented on #77
My impression is that we don't actually have a clear picture of what this feature looks like. I'll do mockups of some possible user flows to get us started.

[2017-08-01 23:37] leesharma commented on #56
@zr2d2 said he'd work on this one :tada:

[2017-08-02 00:08] leesharma opened #79 "Primary nav links/styling"
I've been glomming menu items on to the primary nav, and it's looking a bit confusing and disorganized right now:

![annotated primary nav](https://user-images.githubusercontent.com/814638/28852130-f443ccce-76f4-11e7-90a5-e003e83159b0.png)

We should explicitly figure out what we want here, how links (vs. text) should be styled, how to organize the links, and what should happen as the screen shrin

[2017-08-02 00:13] leesharma opened #80 "Prepare production site"
This might work on staging, but we have some work to do before it's live on production. This isn't the production check-list; it's the prep steps before that point. What apps, services, tools, etc. do we need for the site to go live?

- [ ] Do we need a domain name? If so, set it up.
- [ ] Set up logging, performance monitoring, analytics, error tracking.
- [ ] Set the production database to back

[2017-08-02 02:13] #53 closed

[2017-08-02 02:17] #71 closed

[2017-08-02 03:38] leesharma commented on #73
The `developer` strategy's turning out to be more of a pain than I expected. The generated form apparently doesn't include an authenticity token, so I keep getting `ActionController::InvalidAuthenticityToken` errors on submit.

A quick google suggest disabling csrf protection, but that seems like a very bad plan. I'll look at this again tomorrow. Maybe using a custom view or something would work.

[2017-08-02 12:12] leesharma commented on #73
Actually, since this isn't going to take the 10-minute solution, I'm going to delay this one. It's not our top priority at the moment.

[2017-08-02 13:59] leesharma opened #82 "Tests fail intermittantly because of "missing `NestedWishlistContext`""
Several times now, tests have failed either locally or on Travis because of an unknown constant `NestedWishlistContext`. Re-running the build/tests usually fixes it, but this is a recurring issue.

This class is defined in `lib/nested_wishlist_context.rb` and is required explicitly in `AmazonSearchController` (it was moved to its own file from `app/policies/amazon_search_policy.rb` due to the same

[2017-08-02 15:27] leesharma commented on #77
### Logged-In User Pledges an Item (v1.0)

Here's a possible flow for signed-in users pledging an item. Basically, clicking the button opens a new tab/window to the Amazon product and redirects the original tab to the "Thanks for donating"/pledge page:

![signed_in_pledging_1](https://user-images.githubusercontent.com/814638/28881072-f4c0161e-7774-11e7-9e70-ea4d702f91bb.gif)

And the static pledge

[2017-08-02 15:30] seanmarcia commented on #77
Wow, looks fantastic!

[2017-08-02 15:33] leesharma commented on #77
The main idea here is that the page opens Amazon first to avoid any barriers to donation.

However, there are a few things that might encourage people to be honest/up-to-date with their pledges:

- The confirmation page (to prevent accidental clicks -> pledges)
- The obvious unpledge option
- The received status (helps keep the donor informed + adds some guilt if they didn't buy anything. We can e

[2017-08-02 15:55] micahbales commented on #77
This looks really excellent, Lee. Just to clarify: When the user clicks "pledge," the next thing they'll see is the Amazon product page? But then if they go back to the previous tab, they'll see the "thanks for pledging" view?

[2017-08-02 15:57] micahbales commented on #82
Is this only impacting tests, or do we know if it affect functionality as well?

[2017-08-02 17:33] leesharma commented on #77
@micahbales Correct. I'm not sure how to do tabs with Balsamiq, but the idea is that a new tab with Amazon opens, and the original tab goes to the pledge page. The user does what they want on Amazon, then they close the Amazon tab/switch tabs back to the pledge page. I'm not 100% sure how to do that w/o janky Javascript, but it sounds like it should be possible.

What do you think of the informati

[2017-08-02 19:01] leesharma commented on #82
Just tests, from what I can tell.

[2017-08-02 19:10] leesharma commented on #82
Here's a screenshot of the failures:

![screenshot 2017-08-02 15 00 40](https://user-images.githubusercontent.com/814638/28889931-8ddcecfa-7793-11e7-809c-c36892b53fef.png)

I bet I forgot to include `NestedWishlistContext` in the policy tests, and it's failing depending on whether a feature test ran first...

[2017-08-02 19:18] #59 closed

[2017-08-03 20:30] leesharma commented on #82
It just failed on Travis with a seed of `32078`, but it didn't fail locally. Boo.

[2017-08-03 21:00] micahbales commented on #41
@leesharma and I have discussed this item, and while we believe it's important, it's not essential for the MVP. Let's start work on this once we've completed our MVP milestone.

[2017-08-03 21:23] #82 closed

[2017-08-03 21:44] #55 closed

[2017-08-04 00:28] leesharma commented on #77
### Guest Pledges an Item (3 ways)

All of these gifs loop. I didn't spend much thought on the guest "Thanks for Pledging!" page–we'll likely want different text/content.

1. A modal pops up to prompt the user to sign in, then they need to click the item again. I don't love this; it's a lot of clicks and is probably confusing:

    ![guest_pledging_modal_2](https://user-images.githubusercontent.co

[2017-08-04 20:25] micahbales opened #86 "Set Priority on WishlistItems"
When a Site Manager or Admin adds a new item to a wishlist, they should be able to set a priority level (low, medium, or high). Currently, regardless of what is set, the item is created with a priority of "low." The item *can* later be edited to be a different priority level, however.

[2017-08-04 22:05] #86 closed

[2017-08-05 12:44] Brennaleker commented on #41
Noting for post MVP discussion: another option would be to use the remote shopping cart and on checkout capture the purchase information. This also has it's shortcomings as I don't believe there is a way to track what happens after a user clicks checkout. They could back out of the purchase at that point.

An added benefit would be that up until checkout the customer would remain at Playtime rathe

[2017-08-05 14:11] leesharma commented on #41
@Brennaleker To make sure I understand, is this along the lines of what you're talking about?

![Amazon Remote Checkout](https://user-images.githubusercontent.com/814638/28996042-ede520ac-79c5-11e7-8025-4856accc6222.png)

It's a shame Amazon doesn't have a better wishlist API. It'd make everything much easier!

[2017-08-05 19:58] Brennaleker commented on #41
@leesharma That looks awesome!

[2017-08-09 18:13] leesharma opened #90 "Add navbar for medium and smaller screens"
This ties in to #79, but it's more critical to basic usage. When the window gets too small (bootstrap medium screens, maybe?) the navigation menu disappears. This prevents login, interacting with wishlists, and any admin actions.

![No navbar!](https://user-images.githubusercontent.com/814638/29136948-c9a118fa-7d0c-11e7-9556-1b8fa555714f.png)

At the least, we should have a hamburger menu or somet

[2017-08-13 01:13] micahbales commented on #77
OK, so here are my thoughts at this point:

I really like the design you've laid out in #3 (the original, right?). I like the way the pledge is registered, even if the user doesn't create an account/sign in. I also like the fact that the priority is to get them onto the Amazon product page, but that once they go back, they'll be given options regarding their pledge. There's no friction that might

[2017-08-14 21:14] #43 closed

[2017-08-16 23:55] leesharma commented on #77
@micahbales That makes a lot of sense. Pledges don't currently have quantities, but they probably should. Would something like this be obvious enough, do you think?

![pledging quantity](https://user-images.githubusercontent.com/814638/29390196-d1da9cb6-82bc-11e7-8368-71564b0a6a8e.png)

[2017-08-16 23:56] micahbales commented on #77
Yep, that looks perfect!

[2017-08-16 23:57] leesharma commented on #77
Great! Does that mean we know what we're doing with pledges? Anything else to figure out?

[2017-08-17 00:39] leesharma commented on #77
Okay, I'm going to break this down into smaller issues.

[2017-08-17 00:42] leesharma opened #91 "Pledges should have quantities"
Part of #77

Users may want to pledge more than one item, so there should be an easier way to do that than creating a bunch of new pledges. We should add a `quantity` attribute to pledges, defaulting to 1.

[2017-08-17 00:43] leesharma opened #92 "Users should not be able to create duplicate pledges"
Part of #77, dependent on #91

If pledges have quantities, we should also make sure that pledges are unique by wishlist item and user (so a user doesn't create duplicate pledges for the same item); if a user tries to pledge twice, it probably makes most sense to increment the quantity.

[2017-08-17 00:53] leesharma opened #93 "Logged-in users should be able to pledge items"
Part of #77

Here is an example user flow for this feature. Basically, clicking the button opens a new tab/window to the Amazon product and redirects the original tab to the "Thanks for donating"/pledge page (note the Amazon page is a newly opened tab; clicking the button simulates closing the tab):

![signed_in_pledging_1](https://user-images.githubusercontent.com/814638/29391219-c435ba58-82c3-11

[2017-08-17 00:59] leesharma opened #94 "Guest users should be able to pledge items"
Part of #77

We decided to go with option 3. From #77:

![guest_pledging_cart_1](https://user-images.githubusercontent.com/814638/29391401-2665e5a8-82c5-11e7-9e5a-9146cfe8c250.gif)

When a guest creates an account from this page, the pledge should be associated with the new user account (like a shopping cart).

Also, like with signed-in users, we also want the pledges to have quantities here:

![g

[2017-08-17 01:04] leesharma opened #95 "Display pledged item "received status""
Related to #77, but not required for it.

It would be nice if people could see the status of their donation: that gives the dual benefits of guilting them into keeping their information accurate and confirming when an expected donation was received. It might look something like this blue text on this view (but maybe green after arrival and red if it never arrived):

![Not yet received](https://use

[2017-08-17 01:06] leesharma commented on #94
Maybe, as a way to let guests see what's going on with their pledges, guest pledges could be publicly accessible if you have the URLs?

[2017-08-17 01:07] leesharma commented on #93
"Named pledge" pages should probably be private to the pledging user, admins, and site managers for the related wishlists. Does that make sense?

[2017-08-17 01:11] leesharma opened #96 "Pledges should decrement the wishlist item quantities"
I know we discussed this earlier, but I think we need #95 before this enhancement makes sense. Do we want this?

Once an item is received, the number of requested wishlist items should decrement. This would help keep everything in sync with less manual work, but we definitely want to avoid false positives where items are never sent.

[2017-08-18 02:10] #91 closed

[2017-09-03 19:07] micahbales opened #99 "CSV Generator Should Produce Human-Readable Data"
Currently, our CSV generator produces unhelpful items like, `userId: 2`, etc. We need our CSV files to reflect data that the Admin can understand and incorporate into the Playtime donor database.

We're currently giving out users' Amazon UID. This might not be necessary or useful.

[2017-09-03 19:11] leesharma commented on #67
Closed with #83

[2017-09-03 19:11] #67 closed

[2017-09-03 20:53] #74 closed

[2017-09-06 19:28] leesharma opened #102 "Investigate random Travis failures"
It seems like we've had an unusual number of issues with Travis failing/passing on restart. Most of the failures seem to be feature tests failing in chunks because Capybara can't find text/selectors. Re-running the build usually works.

Is there anything we can do about this?

[2017-09-08 01:02] #92 closed

[2017-09-08 14:14] case-eee commented on #99
@micahbales Hi there! I'm a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there's already a solution in progress I'm happy to try helping out elsewhere.

For this specific issue, what type of data would be most helpful to return in the CSV? Thanks!

[2017-09-09 00:47] leesharma commented on #99
Hey @case-eee, welcome! 😄

I don't have a real answer, but maybe this will help you get started: Seeing all the foreign keys (ex. `user_id` -> `1`) in the CSV is what prompted this issue to be created. Switching out foreign keys with a reasonable representation of the object would probably be a good start! (ex.`user` -> `Micah Bales` or something similar instead).

There are probably also attribut

[2017-09-09 22:19] micahbales commented on #99
Glad to have you with us, @case-eee!

Despite saying she doesn't have a real answer, I think that @leesharma has given a pretty good one. Basically, we're wanting the CSV data to represent actual keys and values that the organization is tracking. At present, it's just spitting out data that is only meaningful to the database, not to people.

Lee is correct that Playtime will have some input eventu

[2017-09-10 03:33] #79 closed

[2017-09-11 17:16] case-eee commented on #99
Hey @leesharma and @micahbales - thanks for the warm welcome! That makes total sense - I think I initially thought you wanted to limit the scope of what attributes were being returned in the CSV - not necessarily ensuring that the data was meaningful (mostly the data coming from relationships).

I'll dive into this during my free time this week and see what I can come up with 👍

[2017-09-11 17:58] leesharma opened #106 "Improve form error appearance"
When a user submits invalid data to the form, the resulting error messages look a little unfortunate:

![error messages](https://user-images.githubusercontent.com/814638/30288826-11a5a65c-96f8-11e7-8f9e-bc7d59c57b8e.png)

It'd be nice to polish this a bit. I vote for putting the errors inline with [Bootstrap form validation](https://getbootstrap.com/docs/4.0/components/forms/#validation) (or at le

[2017-09-15 20:50] #90 closed

[2017-09-26 21:05] leesharma commented on #99
Hey @case-eee, now that you've had some time to look at the code, I just wanted to check in. 🙂 Do you have any questions/complaints/blockers?

[2017-09-27 01:37] #93 closed

[2017-09-28 04:36] leesharma commented on #99
We want to move to user testing shortly, so if I don't hear from you in the next couple days, I'll finish up this issue over the weekend.

If you're working on it, let us know! If things are a little busy right now and you don't have time, no worries–I'm sure we can find another issue that could use some help! 😉

[2017-09-28 11:29] case-eee commented on #99
Hey Lee!

So sorry for the delay. I did start working on it, but I didn't get super
far before work got busy and now I'm traveling for work so it's a bit more
busy.

Feel free to pass it on to someone else for now. I'll look at some other
issues and post a message when I know I have time to actively contribute.

Again, I apologize!!

On Thu, Sep 28, 2017 at 05:36 Lee Sharma <notifications@github.c

[2017-09-28 16:01] leesharma commented on #99
@case-eee No worries–I hope you enjoy your travel! 😄

I'll take this issue, but hopefully we'll have a slew of new issues from user testing in time for [Hacktoberfest](https://hacktoberfest.digitalocean.com/) (or whenever things calm down for you).

[2017-09-28 20:20] leesharma commented on #99
@micahbales How's this to start?

**Pledge spreadsheet:**
![pledge spreadsheet](https://user-images.githubusercontent.com/814638/30988583-ba2e5ea4-a468-11e7-8980-669b81f7cc12.png)

**User spreadsheet:**
![user spreadsheet](https://user-images.githubusercontent.com/814638/30988586-c0aa4fa4-a468-11e7-9aff-5ce8cf5a0357.png)

[2017-09-29 03:07] micahbales commented on #99
Thanks, @leesharma. That seems good. I think the main issue I see is that I believe our Admin will want to be able to have the user's email address as one of the columns in the CSV. That seems pretty straightforward to set up, doesn't it?

[2017-09-29 13:27] leesharma commented on #99
@micahbales Yes, easy addition! That's in the pledge spreadsheet, right?

[2017-09-29 13:52] micahbales commented on #99
That's correct, @leesharma. It looks like the user spreadsheet has emails, but not the pledge spreadsheet.

I suspect that Playtime will be drawing data more frequently from the pledges CSV than from the user CSV.

[2017-09-29 18:21] leesharma commented on #94
Okay, question for you @micahbales.

If a logged-in user pledges a wishlist item (pledge 1), logs out, pledges *the same wishlist item* (pledge 2), logs in, and tries to claim the anonymous pledge, what happens?

- The app doesn't allow that (error)
- The app deletes the anonymous pledge and adds the quantity to the original pledge (this means the pledge 2 url will no longer work–it's all under pl

[2017-10-01 15:04] leesharma opened #111 "Guest users should be tied to a session"
The initial idea of anonymous pledges was to have them act like guest shopping cart items–they'd be attached to the session and, if the user creates an account, they'd attach to the account. Here's a possible approach: [Railscast #393: Guest User Record](http://railscasts.com/episodes/393-guest-user-record).

That got delayed in the interest of shipping asap, but it's still a good plan.

[2017-10-02 00:31] #77 closed

[2017-10-02 00:31] #94 closed

[2017-10-02 01:20] leesharma opened #112 "Add Facebook share button"
Continuation of #107

The Facebook social share button wasn't working, so we decided to remove it for the first release. Now that development is a little more leisurely, we should add it back and get it working.

[2017-10-03 19:55] monoliths commented on #106
Hi there,
I can take this on!

[2017-10-03 20:17] leesharma commented on #106
Awesome! :tada: Ping us here or on the slack ([invite link](https://rubyforgood.herokuapp.com/), we're on #playtime) if you have any questions.

[2017-10-03 21:01] monoliths commented on #106
Alright. Ill jump on to the slack once I get home. One quick question, this is for all forms in the application correct?

[2017-10-03 21:35] leesharma commented on #106
Correct!

[2017-10-04 13:10] #99 closed

[2017-10-06 07:24] monoliths commented on #106
ETA Fix should come in this weekend.
Found this really nifty gem https://github.com/amatsuda/html5_validators
Literally does everything we need but I just want to be safe and test out.

[2017-10-07 20:49] leesharma opened #113 "Improve documentation"
I'm adding this issue for Hacktoberfest! 🎃

For new people setting up this project locally: if you find holes or confusing/out-of-date instructions in the docs, we'd love a PR!

This is a very open ended issue. Feel free to comment if you have any questions/comments!

[2017-10-07 21:07] leesharma opened #114 "Refactor views/styles"
Another open-ended Hacktoberfest issue. 🎃

There are some places where the styles spill into the views or are a little messy (for example, we have some `<br />`s scattered around). Improving this should make the app a little easier to maintain.

Some examples of fixes in this category:

* Moving things related to page style/layout (ex. stray `<br>`s) from the views to the stylesheets
* Removing re

[2017-10-09 21:47] IanEarley commented on #114
I can take a look at this if you are still wanting someone to help out!

[2017-10-10 23:53] leesharma commented on #114
@IanEarley Sure thing! 😄  Let us know if you have questions or want feedback on what you're doing!

[2017-10-11 02:12] leesharma opened #118 "NoMethodError: undefined method `quantity' for #<Pledge:0x000000022f6bb8>"
View details in Rollbar: [https://rollbar.com/project-playtime-staging/project-playtime-staging/items/7/](https://rollbar.com/project-playtime-staging/project-playtime-staging/items/7/)

[code]

[2017-10-11 03:25] leesharma opened #119 "Add some method to collect user feedback"
If I'm a user on the site and I encounter an error, an unexpected interface, or something else annoying, I'd like a way of giving feedback to the development team. We already auto-open issues for runtime errors (see #118 for an example of this), but that won't catch everything.

To make development life easy, this would ideally be integrated with something that we already use–Github Issues, slack,

[2017-10-11 03:31] leesharma opened #120 "Add Rubocop"
As we wait for user feedback, this might be a good time to install rubocop.

**Benefits of code linting:**
- Codebase consistency across files
- Avoid bad/dangerous code practices
- Automatically enforce a basic level of code quality (especially important if we get a lot of one-time committers)

Basically, it'll improve our code and reduce our workload, especially given the open source nature of t

[2017-10-11 03:35] leesharma commented on #120
Note: I don't think we should go back and fix everything now. It'll probably be easier to generate a `.rubocop-todo` and then fix the issues incrementally as we touch the relevant files.

[2017-10-11 03:45] invacuo commented on #114
I did some br tag cleanup in https://github.com/rubyforgood/playtime/pull/121

[2017-10-11 23:41] willmurphyscode commented on #102
Is it possible to add some links to failed build logs or to the specific failing Capybara tests to this issue? I'd like to help but I haven't been able to find anything.

[2017-10-12 02:33] jaysonesmith commented on #120
Drive-by comment: I love Rubocop and am happy to see this here! It's possible, there's a lot of simple auto-fixable (`-aF`) things that Rubocop can take care of unless you're expecting a number of style ideals to makes waves?

[2017-10-12 04:47] leesharma opened #122 "Allow wishlist items with pledges to be deleted"
Playing around locally, I tried to delete a wishlist item with a pledge attached. It blew up with the following error:

[code]

One way to solve this is by destroying dependent pledges when a wishlist item is destroyed with [`dependent: :destroy`](http://guides.rubyonrails.org/association_basics.html#options-for-belongs-to-dependent).

[2017-10-12 05:00] leesharma commented on #118
Looks like there were some unmigrated changes on Heroku. I'm pretty sure this is solved; I'm closing this issue.

[2017-10-12 05:00] #118 closed

[2017-10-12 05:13] leesharma opened #123 "Add Playtime-themed error pages"
Right now, we're using the boring, default rails error pages:

![default rails 404](https://user-images.githubusercontent.com/814638/31480024-53d21840-aee9-11e7-8a5f-287668ede20f.png)

They do the job, but it'd be nice to have something that matches the rest of the site's aesthetic.

Here's [Playtime's homepage](https://www.playtimeproject.org/) and [our app staging site](https://project-playtime-

[2017-10-12 14:05] jaquesdias commented on #122
Hi @leesharma I can do that. I'll open PR soon. 😉

[2017-10-12 17:43] parkerduckworth commented on #119
I would like to contribute! Is there a specific view you want this to appear on?

[2017-10-13 04:18] leesharma commented on #102
I don't have any handy unfortunately! Next time I see them, I'll be sure to copy the output. The errors are intermittent, and running the same seed doesn't reproduce them.

I think you were probably right when we spoke the other day–it sounds like something's timing out.

[2017-10-13 04:25] leesharma commented on #119
@parkerduckworth Awesome!

All of them! I'd add something to the layout file (`app/views/layouts/application.html.erb`)–maybe a footer or one of those floating feedback things on the side?

[2017-10-13 04:45] leesharma commented on #120
@jaysonesmith I don't think we have any style evangelists–consistency is the main goal. The TODO note was because the defaults are pretty strict and this codebase has been around for a while; we'll probably run into cops where we've chosen a non-default approach/that aren't worth enforcing.

I'm sure there are a lot of auto-fixable errors–there are probably a couple dozen about single/double quote

[2017-10-13 11:30] danielcarletti commented on #60
Gonna take a look into this, will open PR if I manage to make it work.

[2017-10-13 12:53] danielcarletti commented on #60
Ok, how would you like to handle this? I can make a default page that handles Amazon connectivity issues and displays a nice message to the user. What do you think?
Also, any ideas on how to reproduce this error? If I send a poor request, Amazon shows their own error page :(

[2017-10-13 18:28] seanmarcia commented on #102
I also dug into this a while ago and couldn't reproduce it :(

[2017-10-13 20:11] leesharma commented on #102
Okay, I ran the tests a couple dozen times on `master` and reproduced it locally. [Here is a gist with test output.](https://gist.github.com/leesharma/f3a6f70f87eee53f6c28ae5ba0687d70)

In this example, two feature test files are failing: `managing_users_spec` and `pledging_an_item_spec`. Usually all the specs in a feature test file will fail, though the actual files that fail vary.

It might also

[2017-10-13 20:34] leesharma commented on #60
I'm not sure how to reproduce this–it's more of a precaution. The API docs might have more information on the actual responses. For how to display it, I'd probably re-render the search page with a flash message, but if you have another idea, go for it!

My guess is that if something's up with Amazon, they'd send back an error response (maybe a 500 or 504?) and we'd want to let the user know those

[2017-10-13 20:36] leesharma commented on #112
I never actually asked: @Brennaleker, do you want to be assigned to this?

[2017-10-13 21:03] seanmarcia commented on #102
As an FYI, it doesn't appear to be an rspec test ordering issue as I ran the tests using the same seed that failed for lee and they worked for me.
![](http://pompeii.gmu.edu/psE38.png)

[2017-10-13 21:52] leesharma commented on #102
@seanmarcia finally broke the travis build! It only has one failure this time though, which is odd–I guess it's not always the whole file:

[code]

[2017-10-13 21:54] seanmarcia commented on #102
Finally got it to break on travis, here is travis config and log: https://gist.github.com/seanmarcia/a9306f0b5bb1a8c039e44b5451c2309a

Link to travis job: https://travis-ci.org/rubyforgood/playtime/jobs/287380754

[2017-10-14 02:56] #73 closed

[2017-10-14 03:51] jaysonesmith commented on #120
On it!

[2017-10-14 04:28] jaysonesmith opened #127 "Update the Pull Request template to use a normal list"
**Edits by Lee:**

I'm commandeering the top-level comment. ☠️

The checklist in [`.github/PULL_REQUEST_TEMPLATE.md`](https://github.com/rubyforgood/playtime/blob/master/.github/PULL_REQUEST_TEMPLATE.md) is more confusing than helpful. Let's switch it out for either commented lines (like @jaysonesmith suggests below) or a standard markdown list.

If you have any thoughts, questions, or suggestions

[2017-10-14 04:33] leesharma commented on #127
To make sure I understand, are you talking about changing internal comments from `` to `<%# comment %>`?

[2017-10-14 04:39] jaysonesmith commented on #127
Nope! I'm talking about changing things like `- [ ] Anything else we should know about?` to ``. The `- [ ] ` value allows you to put an `x` in there to get `- [x]` which renders as the complete example below:

- [x] Testing complete!
- [ ] Testing incomplete!

My thought is that the goal is to give the person opening a PR guidance in submitting a well-written PR, and not necessarily giving them a

[2017-10-14 05:14] jaysonesmith commented on #127
For more info, I'm talking about [this file](https://github.com/rubyforgood/playtime/blob/master/.github/PULL_REQUEST_TEMPLATE.md) specifically. :)

[2017-10-14 05:22] jaysonesmith opened #128 "Seeds breaking user deletion check - managing_users_spec.rb:88"
Seems like seed 32240 consistently fails at `/spec/features/managing_users_spec.rb:88`

[code]

[2017-10-14 06:40] jaysonesmith commented on #128
Seed 40210 also:

[code]

[2017-10-14 18:12] jaysonesmith commented on #128
31200 also for me.

[2017-10-15 16:16] admir23 commented on #123
@Brennaleker , are you still working on this?

[2017-10-15 18:41] Brennaleker commented on #123
Hi Admir, you can go ahead and take it if you'd like.

[2017-10-15 18:44] Brennaleker commented on #112
I've gone ahead and unassigned this for visibility. For the current implementation their is an existing [issue ](https://github.com/huacnlee/social-share-button/issues/141) with SocialShareButton. Another option would be to use a different dependency or custom JS for Facebook only.

[2017-10-15 19:45] admir23 commented on #123
Hi @Brennaleker ! Thank you!  how can i assign it to me?

[2017-10-15 20:23] seanmarcia commented on #128
Not sure what the value of adding a second issue is for this. We've already documented in #102 that there are sporadic build failured.

[2017-10-16 00:18] jaysonesmith commented on #128
@seanmarcia Was unaware that ticket existed. Thanks for the pointer!

[2017-10-16 19:36] leesharma commented on #128
Looking at the error, this might be a different issue than #102 (which seems to be rendering related).

This shows the alert message `This account is the only remaining Admin user. Please assign another Admin before deleting this account`, implying that the admin user's trying to delete themselves (not the target user). Maybe the admin user and the target user are sometimes created in the wrong or

[2017-10-16 19:44] Gauravano commented on #112
hey, is this issue solved as I have checked the website ([https://www.playtimeproject.org]) and facebook share button has worked there for me

[2017-10-16 20:02] leesharma commented on #127
Gotcha.

I think this falls under #113, so I'm closing this issue. If you think changing the PR template would make it easier to understand, feel free to open a PR and/or post this as a suggestion there! :)

[2017-10-16 20:13] leesharma commented on #112
@Gauravano Yep, this is still open! The website you're looking at is the playtime homepage, not this app. We don't have a production version of this up yet, but the staging version can be found [here](https://project-playtime-staging.herokuapp.com).

The share buttons appear [on the wishlists](https://project-playtime-staging.herokuapp.com/wishlists/1). This task is to add the facebook button and

[2017-10-16 20:31] Gauravano commented on #112
Yes, I want to try
I will first use  [social-share-button](https://github.com/huacnlee/social-share-button) gem if this doesn't work then I'll try another method.

[2017-10-16 20:45] leesharma commented on #112
Awesome! 🎉  Let us know if you have any questions.

[2017-10-16 20:58] leesharma opened #131 "Add JS integration test for "pledging opens a new Amazon tab""
### Context

When you click the pledge button, you should see something similar to this:

![pledging flow](https://user-images.githubusercontent.com/814638/30890262-dbe7ca32-a2f9-11e7-85fc-82664ff38f9c.gif)

That Amazon tab opening is one of the most critical features of this app, but right now, it's untested.

### Issue Details

**This issue is to add a feature test that verifies that clicking th

[2017-10-19 05:09] leesharma opened #137 "Add app screenshot to README"
(Under #113)

Multiple people have been confused by the app not looking like the Playtime homepage. Until we have a production app that we can link publicly, a screenshot might help clarify things.

The task is to take a nice-looking app screenshot, make it a reasonable size, and put it somewhere logical near the beginning of the README. Bonus points if you make yourself a site manager/admin and a

[2017-10-19 05:19] leesharma opened #138 "Add Travis badge to README"
Badges are nice because they give a quick look into the status of a project! This task is to add a Travis badge to the the README (maybe under the header?)

Here's a link to our Travis profile: https://travis-ci.org/rubyforgood/playtime/

Let us know if you have any questions!

[2017-10-19 05:23] ramyaa commented on #138
Can i try it?

[2017-10-19 05:43] leesharma commented on #138
@ramyaa Definitely! Let me know if you have any questions.

[2017-10-19 05:46] #138 closed

[2017-10-19 05:57] ramyaa commented on #138
Yay! My first PR! <3 Thank you! :)

[2017-10-19 06:27] tulikavijay commented on #137
Can I take this up?

[2017-10-19 06:49] JacksonIsaac commented on #137
I had started working on this, but I would be more than happy to help you get started.

@tulikavijay Let me know if you are still interested in doing this :) Feel free to ask any queries.

[2017-10-19 13:14] tulikavijay commented on #137
@JacksonIsaac if you have started working on it then I would look for some new issue. Thanks.😊

[2017-10-19 17:40] leesharma opened #140 "Set up code climate test coverage"
(Under #113)

In the theme of adding shiny status buttons to the README, let's start measuring/displaying our test coverage!

Here are [instructions](https://docs.codeclimate.com/v1.0/docs/configuring-test-coverage) for getting Code Climate test coverage set up. This will probably entail:

* Setting up [simplecov](https://github.com/colszowka/simplecov) locally
* Setting up the [test reporter](htt

[2017-10-19 17:45] leesharma commented on #138
Awesome, congratulations! :tada: Now you're a project contributor!

![screenshot 2017-10-19 13 42 45](https://user-images.githubusercontent.com/814638/31785566-9296d120-b4d3-11e7-8cb5-a68f139d6206.png)

[2017-10-19 18:16] alexshook commented on #111
Hey are you still looking for someone to do this?

[2017-10-19 18:32] leesharma opened #141 "Paginate wishlist items"
This task is to add pagination to wishlist items on the root view (`wishlist_items#index`) and the wishlist show view (`wishlists#show`).

There are a number of ways to implement pagination: I'd suggest hand-rolling it or using a library like [kaminari](https://github.com/kaminari/kaminari) ([helpful railscast](http://railscasts.com/episodes/254-pagination-with-kaminari)). We're using Bootstrap, s

[2017-10-19 18:33] leesharma commented on #111
@alexshook We are! Are you interested?

[2017-10-19 18:34] alexshook commented on #111
@leesharma  yes, definitely! How do I claim it?

[2017-10-19 18:35] leesharma commented on #111
You just did. 🙂

[2017-10-19 19:13] leesharma commented on #46
*Okay, here's a full description for this issue:*

Right now, when a site manager/admin goes to add new wishlist items, they only see the first 10 search results with no way of accessing the others. The task is to add pagination links so that the user can view subsequent pages of search results.

For UI, I'm not sure if Bootstrap's [standard pagination component](https://getbootstrap.com/docs/4.0/

[2017-10-19 19:14] mcshakes commented on #141
I'd like to take a crack at it if no one else has

[2017-10-19 19:26] leesharma commented on #137
@tulikavijay It's great to see all the interest on this issue! 🙂

If you're looking for another issue, #140 also deals with documentation/configuration. The test reporter setup processes has good instructions; alternatively, adding the test coverage badge ([found here](https://codeclimate.com/github/rubyforgood/playtime/badges)) to the README could be a stand-alone PR.

[2017-10-19 19:40] leesharma commented on #141
@mcshakes All yours! 🙂

[2017-10-19 19:44] leesharma commented on #127
@jaysonesmith In retrospect (half-a-dozen pull requests later), you were on to something here. 😅

I'm re-opening this issue and modifying the description a bit.

[2017-10-19 20:23] ChanChar commented on #128
@leesharma I've detailed the issue in the PR and have made the changes to prevent this from happening in the future.

[2017-10-19 20:28] henriquepjv commented on #140
@leesharma I will give it a try ;D

[2017-10-19 20:32] leesharma commented on #140
Awesome!

[2017-10-19 20:51] #137 closed

[2017-10-19 23:37] thebradhimself commented on #141
I'm also going to take a crack at it for the fun of it

[2017-10-20 18:38] leesharma opened #144 "List wishlist items by priority"
On the root page (`wishlist_items#index`) and the wishlist pages (`wishlists#show`), the wishlist items are currently unordered. Let's sort them priority with the highest-priority items listed first.

[2017-10-20 19:06] viniciusilveira commented on #144
I'd like to do this one.

[2017-10-20 19:09] leesharma commented on #144
Awesome! :+1:

[2017-10-20 19:19] leesharma commented on #60
@danielcarletti Hi, I just wanted to check in! Do you have any blockers/questions about the codebase?

[2017-10-20 19:21] leesharma commented on #119
@parkerduckworth Now that you've had a chance to look around the codebase a bit, I wanted to check in. Do you have any blockers/questions about the issue?

[2017-10-20 19:24] sahilgarg30 commented on #144
I want to do this :)

[2017-10-20 20:29] viniciusilveira opened #146 "Remove database.yml from tracked files on git"
The database.yml file is not on the `.gitignore` file and must be added to it

[2017-10-20 20:30] viniciusilveira commented on #146
I'd like to do this one.

[2017-10-20 20:40] kalimar commented on #146
I love seeing fellow Brazilians contributing to our projects! Valeu cara!

[2017-10-20 23:26] K4sku commented on #127
I read some PR templates here and there. I think I can give you one that will give similar informations, but in easier, more open form. Sign me up.

[2017-10-20 23:27] jaysonesmith commented on #127
Do it up!!

[2017-10-21 00:27] leesharma opened #149 "Set up New Relic monitoring"
As we prepare for production, let's get some performance monitoring set up! [Here are some instructions](https://docs.newrelic.com/docs/agents/ruby-agent/installation/install-new-relic-ruby-agent) on how to do that.

You'll need a configuration file, and New Relic conveniently provides some boilerplate. Here's a copy of a slightly altered [config.yml](https://gist.github.com/leesharma/1fb44aad2e09

[2017-10-21 02:43] leesharma commented on #146
@viniciusilveira Thanks for adding an issue! I see why you added this–letting the developer customize their own db names/users/port makes a lot of sense.

I'm concerned about removing `database.yml` from tracked files for several reasons:
1. It may confuse newer developers (my biggest concern). It looks like a lot of the people contributing this month are new to rails/app development, so the easie

[2017-10-21 03:39] seanmarcia commented on #146
I want to echo @leesharma's comments about this project using Travis-CI for continuous integration which requires a `database.yml` file. On another project we attempted something similar but after a few frustrated attempts we added the file back in.

We attempted the obvious way around this -- by adding a `database.yml.travis` and then setting a travis before script to copy and rename it in the te

[2017-10-21 03:45] leesharma commented on #127
I didn't know you could use HTML comments in markdown before this issue. Thanks for making it, @jaysonesmith! :grin:

[2017-10-21 03:48] d3vil0p3r commented on #149
@leesharma I'm taking this 👍

[2017-10-21 04:13] leesharma commented on #149
Great! 👍

[2017-10-21 12:18] d3vil0p3r commented on #149
@leesharma I've pushed the changes, kindly review #150.

[2017-10-21 19:57] leesharma opened #153 "Update specs to use FactoryBotRails"
We have a gem name change! The gem previously known as `factory_girl_rails` is now called `factory_bot_rails` ([link](https://github.com/thoughtbot/factory_bot_rails)).

This issue is to update to the new gem. Stealing from an in-progress change to their README:

[2017-10-21 20:32] #127 closed

[2017-10-22 00:03] K4sku commented on #153
I will do it.

[2017-10-22 06:01] #153 closed

[2017-10-22 06:29] leesharma commented on #153
@K4sku Thanks for the offer, but it looks like we already had a PR for this one. I'll be adding more issues periodically though (+ freeing up some stagnating ones); stay tuned! 🙂

[2017-10-22 06:30] leesharma commented on #60
@danielcarletti I'm freeing this issue back up for now; let me know if you're still working on it!

[2017-10-22 06:45] leesharma commented on #146
I'm closing this issue for now; if we see a lot of people with db config issues, we can think about opening this back up (for opt-in configuration or README additions) then.

[2017-10-22 06:45] #146 closed

[2017-10-22 20:02] leesharma opened #156 "Use slugs instead of ids in the wishlist urls"
Right now, our wishlist urls look like this: `/wishlists/1`. URLs are part of the user interface and ids don't make for a great UI; let's make them more like this: `/wishlists/dc-general`!

The minimum requirements for this issue are:
* URLs should be slug-based instead of id-based
* The slug should be automatically generated based on the name
* The slug should update if the wishlist name updates

[2017-10-22 20:25] #144 closed

[2017-10-22 21:01] leesharma opened #157 "Flesh out db seeds"
Our seeds are a little sparse for a realistic view of the application. Let's fill them out a bit!

Here are some things I'm looking for in this issue:
* Another wishlist or two ([here's their list of shelter locations](https://www.playtimeproject.org/locations/))

* Maybe 20 or 30 items distributed between the wishlists. Some items should be on multiple wishlists. This'll probably be the most time

[2017-10-22 22:34] leesharma commented on #56
Found another invalid query! An apostrophe seems to break signature generation: when I try to add "k'nex" or "sophie's world", I get the following error:

[code]

There are two fixes to make here:
* We should handle and log the "SignatureDoesNotMatch" error (currently it just shows a blank page)
* We should make signatures work with apostrophes

[2017-10-22 22:38] leesharma commented on #56
Another error to handle:
[code]

[2017-10-22 22:59] reneesandefur commented on #156
I'd like to give this a shot!

[2017-10-22 23:21] reneesandefur commented on #156
@leesharma Does it matter if it is custom or uses a gem?

[2017-10-23 03:39] leesharma opened #161 "ActionView::Template::Error: PG::UndefinedTable: ERROR: relation "wishlist_items" does not exist LINE 1: SELECT "wishlist_items".* FROM "wishlist_items" ORDER BY "wi... ^ : SELECT "wishlist_items".* FROM "wishlist_i"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/10/](https://rollbar.com/project-playtime/project-playtime/items/10/)

[code]

[2017-10-23 03:44] leesharma opened #162 "Test error from rollbar:test"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/11/](https://rollbar.com/project-playtime/project-playtime/items/11/)

[code]

[2017-10-23 03:44] leesharma opened #163 "RollbarTestingException: Testing rollbar with "rake rollbar:test". If you can see this, it works."
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/12/](https://rollbar.com/project-playtime/project-playtime/items/12/)

[code]

[2017-10-23 03:45] leesharma commented on #163
Sorry about all that; I was configuring something!

[2017-10-23 03:45] #163 closed

[2017-10-23 03:45] #161 closed

[2017-10-23 10:44] danielcarletti commented on #60
Hey @leesharma , sorry, I can't work on this anymore, got tied up with stuff. Best of luck!

[2017-10-23 17:36] #122 closed

[2017-10-23 18:31] leesharma commented on #119
I'm freeing up this issue. If you are working on it, let me know and I'll mark it back as "In Progress".

[2017-10-24 02:34] #157 closed

[2017-10-24 02:38] leesharma opened #165 "ActiveRecord::ProtectedEnvironmentError: You are attempting to run a destructive action against your 'production' database. If you are sure you want to continue, run the same command with the environment variable: DISABLE_DATABASE_ENVIRONMENT_CHECK=1"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/13/](https://rollbar.com/project-playtime/project-playtime/items/13/)

[code]

[2017-10-24 02:39] #165 closed

[2017-10-24 02:39] leesharma commented on #165
Sorry–I'm adding some items to staging.

[2017-10-24 03:01] leesharma commented on #156
@reneesandefur Awesome! It looks like you've gotten started, but here's an answer anyway: gems are fine as long as they're good quality and there's a reason to use them. 🙂

If you add a gem, it should have decent code quality, be tested, and (preferably) be pretty common. It should also be proportional to the problem: e.g. adding a giant state machine gem to avoid a small amount of hand-written co

[2017-10-24 03:18] leesharma opened #166 "Homepage appears to list duplicate items"
### Problem

Right now, an item that appears in multiple wishlists looks like a duplicate on the root page (see screenshot below). This is because there's no indicator that the two wishlist items belong to different wishlists.

![main screen duplicates](https://user-images.githubusercontent.com/814638/31923243-8a77254a-b847-11e7-8e1e-65854deed3f5.png)

### Discussion

The goal is to make these not

[2017-10-24 07:54] K4sku commented on #166
I will bite.

[2017-10-24 07:57] K4sku commented on #166
I think it should be merged and displayed "Needed 4 by DC General <br> Needed 2 by Alaska", then prompt user when he pledges where he wants it to go.

[2017-10-24 17:05] khwilo commented on #113
I would like to write a detailed process on how to contribute to the project locally before submitting a PR. For example adding a remote upstream and creating a new branch. This information will be in the CONTRIBUTION.md file.

[2017-10-24 19:33] #149 closed

[2017-10-25 03:26] leesharma commented on #113
@khwilo That sounds great! :+1:

[2017-10-25 23:15] ritarenee15 commented on #114
Do you still need anymore help with this?

[2017-10-26 03:33] leesharma opened #171 "Handle Amazon Product API errors"
I'm breaking this out of #56 since it's really a different issue.

## The Issue

Sometimes, Amazon queries return errors. The current behavior is that the page stays blank. We should have a graceful way of handling this that gives some clue about the problem.

Here are the errors I've encountered so far (to give a sense of how they look):

* ```ruby
   "Error"=>{"Code"=>"SignatureDoesNotMatch", "M

[2017-10-26 03:41] leesharma opened #172 "Fix spacing on wishlist item partials"
## The Issue

The spacing gets wonky after the staff message field when the staff message is missing. When the staff message is there, it gets weird after the price field.

![without a staff message](https://user-images.githubusercontent.com/814638/32033720-2fd7e70a-b9dc-11e7-90ba-6e5d8168a46d.png)
![with a staff message](https://user-images.githubusercontent.com/814638/32033722-322d6278-b9dc-11e7

[2017-10-26 03:45] leesharma commented on #114
@ritarenee15 Definitely! We don't have specific tasks for this one; it's more of a general clean-up issue. If you see something custom that could be expressed with Boostrap classes, messy view code that could be cleaned up, or whatever else, open a PR! 😄

If you want something more concrete, I also just opened an issue relating to a UX bug: #172.

[2017-10-26 11:49] alanunruh commented on #172
Hey @leesharma - I'd be happy to make the edits you've suggested!

[2017-10-26 16:23] hmasila commented on #171
@leesharma I would like to take a shot at this issue. Do you have any extra details on the issue before I get started?

[2017-10-27 02:50] leesharma commented on #172
@alanunruh Awesome! 👍

[2017-10-27 02:53] leesharma commented on #171
@hmasila Not at the moment! This will probably require playing around with the response classes (`lib/amazon_product_api/*_response.rb`) to hold/handle errors.

[2017-10-27 02:56] leesharma commented on #166
@K4sku Thanks for the enthusiasm! This issue needs some discussion before we'll be ready to choose a design, but the tangible examples are helpful. 🙂

[2017-10-27 02:57] leesharma commented on #140
@henriquepjv Are you still working on this issue? Any blockers we can help out with?

[2017-10-27 02:58] leesharma commented on #111
@alexshook Hey, how's the issue coming? Any questions/comments/blockers I can help with?

[2017-10-27 03:40] josephbhunt opened #176 "Add Dockerfile and docker-compose.yaml to gitignore"
Docker is not yet a part of this project and may never be; however, adding Dockerfile and docker-compose.yaml to gitignore would make it easier for contributors to develop with docker if they chose. This way Docker can be used without adding any dependencies on the project. They can always be removed later if the project decides to use docker officially.

Thoughts?

[2017-10-27 03:50] alexshook commented on #111
@leesharma I started it a bit but haven't been able to devote much time-- busy work week. Should have a pull request for you on Sunday!

[2017-10-27 05:24] josephbhunt commented on #95
I'm going to make a first pass on this to get something working.

[2017-10-27 16:17] leesharma commented on #95
This isn't a ready issue; we need more discussion about how the org will manage this (/whether they really want to) before we're ready to implement this.

I'm general, if something is tagged "needs discussion", it's not ready for code.

---
Lee Sharma

[2017-10-27 17:51] josephbhunt commented on #95
Sorry, I thought that if you just needed to decide if the org want it, then we could have a PR ready. Or maybe a branch you could demo. I'll hold off.

[2017-10-27 19:59] emilianoLeite commented on #131
@leesharma I'd be happy to take a stab at this

[2017-10-28 15:55] d3vil0p3r commented on #140
@leesharma I would love to work on this, should I proceed?

[2017-10-29 01:16] josephbhunt commented on #60
I'll take a look at this issue.

[2017-11-01 01:48] alexshook commented on #111
@leesharma hey I have a question-- I see that there's a log in but no sign up option, did you want a button for sign up as well as the one to continue as a guest?

[2017-11-01 01:51] alexshook commented on #111
@leesharma additionally, will we always create users by the amazon auth hash, or will straight email sign ups also be available?

[2017-11-04 00:33] #176 closed

[2017-11-04 00:38] #106 closed

[2017-11-06 04:13] leesharma opened #180 "ActiveRecord::RecordInvalid: Validation failed: Email has already been taken"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/16/](https://rollbar.com/project-playtime/project-playtime/items/16/)

[code]

[2017-11-06 04:14] leesharma opened #181 "ActiveRecord::ProtectedEnvironmentError: You are attempting to run a destructive action against your 'production' database. If you are sure you want to continue, run the same command with the environment variable: DISABLE_DATABASE_ENVIRONMENT_CHECK=1"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/17/](https://rollbar.com/project-playtime/project-playtime/items/17/)

[code]

[2017-11-06 04:15] #181 closed

[2017-11-06 04:28] #180 closed

[2017-11-06 04:44] leesharma commented on #181
Sorry, I was trying to re-seed a review app database. I've turned automatic GitHub issues for review apps; issues will now only be created in staging and production.
(Same thing goes for #180.)

[2017-11-07 15:27] mdevoe12 commented on #113
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I'd like to attempt a local setup with fresh eyes and see if there's anything that's not clear/confusing or out of date. Thanks!

[2017-11-07 16:06] jtruong2 commented on #172
Has this been resolved? If not, I'll be more than happy to work on it.

[2017-11-07 16:15] alanunruh commented on #172
Hey @jtruong2 - yes I’m still working on this. I’ve had some things pop up over the past week (sorry). I’ll wrap up what I’ve worked on and submit a solution shortly.

[2017-11-21 23:44] seanmarcia opened #183 "Add in ssl"
We've installed let's encrypt on the server but we need to make the necessary changes to the app. Maybe @CraigJZ can provide some advice.

[2017-11-22 18:11] #183 closed

[2017-11-24 13:30] #120 closed

[2017-11-27 23:43] leesharma opened #186 "RollbarTestingException: Testing rollbar with "rake rollbar:test". If you can see this, it works."
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/20/](https://rollbar.com/project-playtime/project-playtime/items/20/)

[code]

[2017-11-27 23:44] #162 closed

[2017-11-27 23:45] leesharma commented on #186
Just verifying that the production app is connected properly to Rollbar. It is! 🙂

[2017-11-27 23:45] #186 closed

[2017-11-29 03:23] #56 closed

[2017-12-01 18:30] alanunruh commented on #172
@leesharma  - So sorry for the delay! I've becoming increasingly busy and thus have not been able to complete this pull request. I'll withdraw as I know I'm impeding process.

@jtruong2 - Please feel free to take this.

I'll keep my eyes on this project if time permits as I'd love to contribute. All the best!!

[2017-12-05 05:23] UJKhokhar commented on #172
@leesharma I have a branch with a fix ready for this. Just need account permissions to push the branch and make a PR.

[2017-12-06 03:22] #172 closed

[2017-12-06 03:45] UJKhokhar commented on #119
@leesharma I'd like to tackle this

[2017-12-06 03:52] invacuo commented on #119
@UJKhokhar Awesome. Go for it!

[2017-12-20 21:50] gkiely commented on #119
Would you be up for gathering user feedback with [Userjoy](https://userjoy.co)?
It's not in beta yet but I'll be launching it in the next couple of weeks. Totally free for open source projects. Might save you some time?

[2018-01-23 04:20] #60 closed

[2018-03-26 18:44] leesharma opened #190 "Can't search Amazon for items containing a space"
We have a bug in our signature generator. When a user searches for an item containing a space character, we get back a `SignatureDoesNotMatch` error from Amazon. This issue may affect other special characters too.

To fix this, we probably need to fix the signature generation in `lib/amazon_product_api`.

### To Replicate:
Sign in as a site manager/admin and try to add a "bubble machine" (or any o

[2018-03-27 18:53] nico24687 commented on #123
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-03-28 15:26] Maxscores commented on #190
@leesharma I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Cheers!

[2018-04-22 01:45] #190 closed

[2018-05-04 14:51] seanmarcia opened #195 "Open new tab when logged in"
Currently when a person is logged in, and they click 'Pledge to Donate' it does not take them to a new tab like it does when you are not logged in.

The stakeholder would like the 'Pledge to Donate' button to open in a new tab regardless if the user is logged in or not.

[2018-05-04 14:52] seanmarcia opened #196 "Add playtime shipping address"
Once a donor has pledged an item, along with the confirmation they should be reminded of Playtime's shipping address. We need to add the following:

Make sure to ship the item to:
Playtime Project
1525 Newton Street NW
Washington, DC 20010

[2018-05-04 14:53] seanmarcia opened #197 "Change log in button description"
The `Log In` button is unintuitive. The stakeholder would prefer if it said `Donor Log In`

[2018-05-04 14:55] seanmarcia opened #198 "Pixelated images"
The images we are pulling from amazon are fairly pixelated. Are there better/higher quality ones available or do we have paperclip misconfigured?
Fix the display so the images are not so pixelated.

[2018-05-09 21:11] leesharma commented on #198
Good point! I only took a quick look, but I'm betting it's because we're using `SmallImage` from the Amazon response ([search_response](https://github.com/rubyforgood/playtime/blob/master/lib/amazon_product_api/search_response.rb#L49-L51) and [lookup_response](https://github.com/rubyforgood/playtime/blob/master/lib/amazon_product_api/lookup_response.rb#L30-L32)). Hopefully this is an easy fix!

[2018-05-19 22:31] memcmahon commented on #195
Hi @seanmarcia I would love to tackle this and a few other beginner friendly issues on this project - let me know if someone else is working on this, otherwise, look out for a PR in the next few days!

[2018-05-20 01:14] seanmarcia commented on #195
Hey @memcmahon the issue(s) are yours! I sent you an invite to collab so you can send PR's directly and not have to fork :)

[2018-05-21 19:41] memcmahon commented on #195
Awesome, thanks @seanmarcia!

[2018-05-21 22:54] memcmahon commented on #195
Hey @seanmarcia - I just submitted a PR(#200) that I believe resolves this issue.  After digging in to it, I think the main issue was slightly different than originally outlined.  I have summarized my findings below and on the PR.  Also, I noticed that the Travis CI build is failing on my push, but passing on the PR.  I don't think I made any changes that would have caused a major failure, but any

[2018-05-21 23:33] #195 closed

[2018-05-22 13:45] #197 closed

[2018-05-22 13:45] #196 closed

[2018-05-27 16:01] teneresa opened #204 "Logo redesign proposal"
Dear Sir/Madam,
hi, my name is Valeria. I'm a graphic designer and I'd like to collaborate on your open source project and to propose a redesign of your logo or help with any other graphics. It's absolutely free and it will make your project more visually appealing.
If it's something you're interested in, please, let me know!
Best,
Valeria

[2018-07-14 01:07] seanmarcia commented on #204
Hey @teneresa! Sorry for the delay, we had our big event (rubyforgood.org) at the start of June and are just now recovering!

We'd absolutely love some assistance.

If you are able you should join our slack and discuss it with us there! You can grab and invite at https://rubyforgood.herokuapp.com

[2018-07-16 01:06] teneresa commented on #204
Hi Sean, glad to hear from you! Yes, I'll join your slack, thanks for the invitation!

[2018-07-16 03:19] anon0mys commented on #171
@leesharma I think I would like to try to solve this, but I wasn't sure if someone was already working on it. Is it ok if I pick this issue up?

[2018-07-22 04:52] teneresa commented on #204
@seanmarcia Sean, hi,  here are some logo variations, please have a look! I made two options with the colors of your current logo and one option with a new color scheme:

![logo-01](https://user-images.githubusercontent.com/39339824/43042310-94ddfb06-8d50-11e8-942e-f2dca01a0bae.jpg)

And also a mock-up of your website with both options:

![website_1](https://user-images.githubusercontent.com/39339

[2018-07-22 18:47] teneresa commented on #204
Sean, as per our conversation on slack, here is an option with the word Wishlist:
![logo-03](https://user-images.githubusercontent.com/39339824/43048951-55081af4-8dc6-11e8-9b3f-30cdc651d3f1.jpg)

[2018-07-22 22:48] #198 closed

[2018-07-23 03:51] bperlik commented on #140
I would love to try to do this for you. Is d3vilOp3r still working on it?

[2018-07-23 03:52] bperlik commented on #123
Anyone working on this? I'd love to take this on. I LOVE RAILS!

[2018-07-23 23:14] #102 closed

[2018-08-07 20:42] teneresa commented on #204
Sean, hi, as per our conversation on slack I uploaded all the required files with a new logo (first option). Please check them and merge my pull request, if everything is Ok.

[2018-08-07 23:17] #204 closed

[2018-08-30 17:10] hmesander commented on #171
@leesharma Do you still need help resolving this issue?  If so, I'd like to help!

[2019-01-10 16:57] mel2121 commented on #123
This is an outstanding group.
If this page issue is not finished or assigned, I would love a chance to enhance these pages. Thanks.

[2019-03-18 06:09] leesharma opened #207 "ActionController::UnknownFormat: WishlistItemsController#index is missing a template for this request format and variant. request.formats: ["../../../../../../../../../../etc/passwd{{"] request.variant: []"
View details in Rollbar: [https://rollbar.com/project-playtime/project-playtime/items/25/](https://rollbar.com/project-playtime/project-playtime/items/25/)

[code]